{{template "base" .}}

{{define "home"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-purple-600">Home Page!</h1>
            </div>
        </div>
    </div>
    

{{end}}